/* You can add global styles to this file, and also import other style files */
*, h4 {
  font-family: "Barlow",sans-serif;
  font-weight: 500;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

span.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-multiple-rows {
    min-height: unset !important;

    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 55px;
        color: #000;
    }
}

div#loading {
  display: block;
  position: fixed;
  background: #ffffffc7;
  z-index: 999;
  width: 100%;
  height: 100%;
  color: #fff;

  img {
    display: block;
    margin: 150px auto;
  }
}
